body{
    font-family: Arial, sans-serif;
    font-size: 14.5px;
    color: #666666;
}

/* Typography www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 2.3rem; text-transform: uppercase; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #c06d64; text-decoration: none;}
a:hover {
  color: #914a4e; }


/* Buttons www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }



/* Tables www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem; }


/* Utilities www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc www.getskeleton.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }




/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/*---PAGINATION------------*/
.pagination { margin-left:0; margin-bottom: 1rem; margin-top: 2rem;}
.pagination::before, .pagination::after {content: ' '; display: table;}
.pagination::after {clear: both;}
.pagination li {margin-right: 0.0625rem; border-radius: 3px; display: none;}
.pagination li:last-child, .pagination li:first-child {display: inline-block;}
@media screen and (min-width: 40em) {
    .pagination li {display: inline-block; }
}
.pagination a, .pagination button {color: #0a0a0a; display: block; padding: 0.1875rem 0.625rem; border-radius: 3px;}
.pagination a:hover, .pagination button:hover {background: #e6e6e6;}
.pagination .current {padding: 0.1875rem 0.625rem; background: #2ba6cb; color: #fefefe; cursor: default;}
.pagination .disabled {padding: 0.1875rem 0.625rem; color: #cacaca; cursor: not-allowed;}
.pagination .disabled:hover {background: transparent;}
.pagination .ellipsis::after {content: '\2026'; padding: 0.1875rem 0.625rem; color: #0a0a0a; }
.pagination-previous a::before, .pagination-previous.disabled::before {content: '\00ab'; display: inline-block; margin-right: 0.5rem;}
.pagination-next a::after, .pagination-next.disabled::after {content: '\00bb'; display: inline-block; margin-left: 0.5rem;}

/*---GRID----------*/
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px
}

[class*="c-"] {
    grid-column: span 12;
    padding: 10px
}


 /* 720px */
@media only screen and (min-width: 720px) { 
    

    .c-1 {
        grid-column: span 1
    }

    .c-2 {
        grid-column: span 2
    }

    .c-3 {
        grid-column: span 3
    }

    .c-4 {
        grid-column: span 4
    }

    .c-5 {
        grid-column: span 5
    }

    .c-6 {
        grid-column: span 6
    }

    .c-7 {
        grid-column: span 7
    }

    .c-8 {
        grid-column: span 8
    }

    .c-9 {
        grid-column: span 9
    }

    .c-10 {
        grid-column: span 10
    }

    .c-11 {
        grid-column: span 11
    }

    .c-12 {
        grid-column: span 12
    }
  
}

/* APP
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
	max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main   main   main   main   main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}
.menu_wrapper{grid-area: menu;}
.cont_wrapper{grid-area: main;}

.menu{
  list-style: none;
  display: grid;
  
}
.menu li{
  margin: 0;
}
.menu li:hover {
  background-color: #EDEDED;
}

.menu a{color: #666666; display: block; padding: 1rem;}

.submenu{list-style: none; margin: 0;}

.submenu a {color: #ffffff;}
.submenu a:hover {color: #7c7c7c;}

.wrapper_login{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_box{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #D1D1D1;
}

.allert{
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

#sortable {
  list-style: none;
}